<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body class="m-3">
    <div class:"container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h1>Blog Title   </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {% for blogPost in blogPosts %}
                    <div class="blog-post mb-5">
                        <h2>{{ blogPost.title }}</h2>
                        <p>jan 1, 2020 by <a href="">Alex</a></p>
                        <div class="blog-post-image mb-3">
                            <img src="images/image1.png" width="100%" alt="soy tu pastel">
                        </div>
                        <div class="blog-post-content">
                            {{ blogPost.content }}
                        </div>
                    </div>
                {% endfor %}

                

            </div>
            <div class="col-md-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus officiis 
                        maiores, neque beatae quaerat assumenda, quidem cumque sint nihil ad ipsam error unde 
                        delectus inventore molestias, rem iusto officia! Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Veniam natus soluta quasi quibusdam odio eaque voluptate autem. Non 
                        blanditiis voluptatibus laudantium cupiditate, eum dolorem ut nulla optio ab? Consectetur, 
                        sit? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores impedit iste 
                        perferendis sint facilis ex magnam quas corporis hic nesciunt, maiores delectus, fugiat rem 
                        nobis tenetur deleniti et dolorem distinctio? 
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <footer>
                    This is a footer<br>
                    <a href="{{ 'admin' | url }}">Admin Panel</a>
                </footer>
            </div>
        </div>

    </div> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>   
</body>
</html>